<div class="modal-header">
  <h4 class="modal-title pull-left">Edit</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding: 10px;">
  <table class="table table-sm table-bordered" style="margin-bottom: 0;">
    <tr>
      <td><span class="col-form-label">Category Name</span></td>
      <td><input class="form-control" type="text" [(ngModel)]="dataItem.ProductCategoryName"/></td>
    </tr>
    <tr>
      <td><span class="col-form-label">Remark</span></td>
      <td><input class="form-control" type="text" [(ngModel)]="dataItem.Remark"/></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">CLOSE</button>
  <button type="button" class="btn btn-success float-right" (click)="acceptBtnModalClicked()" autofocus>UPDATE</button>
</div>