<div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group row">
                    <label for="txt-current-pasword" class="col-sm-4 col-form-label">Current Pass</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" id="txt-current-pasword" [(ngModel)]="currentPass" name="currentPass" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txt-new-pasword" class="col-sm-4 col-form-label">New Pass</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" id="txt-new-pasword" [(ngModel)]="newPass" name="newPass" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txt-renew-pasword" class="col-sm-4 col-form-label">Confirm new Pass</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" id="txt-renew-pasword" [(ngModel)]="reNewPass" name="reNewPass" />
                    </div>
                </div>
            </form>
            <!-- /.col -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-success float-right" (click)="changePassword()">Accept</button>
</div>