<section class="content-header">
  <div class="row col-12">
    <div>
      <span style="font-size: 20px;">Mistake Type</span>
    </div>
    <button class="btn btn-primary btn-sm" (click)="onLoadData()" style="margin-left: 5px;"><i class="fa fa-search"></i></button>
  </div>
</section>
<section class="content" style="margin-top: -5px;">
  <div class="row">
    <div class="col-12">
<!----------------------------------------------------------------------------------------------------->
      <div class="row">
        <div class="col-9">
          <div class="col-12 row" style="vertical-align: middle;">
            <div style="margin-right: 5px; margin-top: 8px;"><span >Show</span></div>
            <select (change)="onChangeRowPerPage($event)" style="width: 100px;" [(ngModel)]="searchData.ItemsPerPage">
              <option *ngFor="let i of rowPerPage" value="{{i}}" [attr.data-code]="i.appendData">{{i}}</option>
            </select>
            <div style="margin-left: 5px; margin-top: 8px;"><span >entries/page</span></div>
          </div>
        </div>
        <div class="col-3">
          <button class="btn btn-sm btn-success float-right" (click)="openPopupEdit(editTemplate)"><i class="fa fa-plus"></i> CREATE NEW</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <ngx-datatable class="material fullscreen custom" 
              [externalSorting]="true" 
              (sort)="onSort($event)"
              [columnMode]="'force'" 
              [footerHeight]="25"
              [rowHeight]="'auto'" 
              [rows]="pagingModel.DataList" 
              [count]="pagingModel.TotalItems" 
              [offset]="pagingModel.CurrentPage-1"
              [limit]="pagingModel.ItemsPerPage" 
              [externalPaging]="true" 
              (page)='setPage($event)' 
              [scrollbarH]="true" 
              [scrollbarV]="true" 
              [virtualization]="false" 
              [style.height.px]="innerHeight"
              [loadingIndicator]="loadingIndicator">
              <ngx-datatable-column [canAutoResize]="false" [width]="40" name="No." prop="RowIndex" cellClass="text-center" [sortable]="false"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="50" name="ID" prop="ID" cellClass="text-center"></ngx-datatable-column>
              <ngx-datatable-column [width]="110" name="Mistake Name" prop="MistakeName" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="40" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    class='btn-edit btn btn-outline btn-sm btn-primary btn-icon' 
                    title='Edit'
                    style='width:30px;' 
                    (click)="openPopupEdit(editTemplate, row['ID'])">
                    <i class='fa fa-edit'></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>

      <ng-template #editTemplate>
        <app-mistaketype-edit [bsModalRef]="bsModalRefEdit" [id]="id" (acceptBtnModalClick)="onAcceptBtnModalClick($event)"></app-mistaketype-edit>
      </ng-template>
<!----------------------------------------------------------------------------------------------------->
    </div>
  </div>
</section>