<!-- <div class="container h-p100 login-form">
  <div class="row align-items-center justify-content-md-center h-p100">
      <div class="col-lg-5 col-md-8 col-12">
          <ngx-spinner [fullScreen]="false"></ngx-spinner>
          <div class="content-top-agile">
              <h2>Y-TEC VIET NAM</h2>
              <p class="text-white">Login to system</p>
          </div>
          <div class="p-40 mt-10 bg-white content-bottom">
              <form action="" method="post">
                  <input type="hidden" name="ReturnUrl" />
                  <div class="form-group">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-danger border-danger"><i class="ti-user"></i></span>
                          </div>
                          <input type="text" class="form-control" [(ngModel)]="userName" name="userName" placeholder="Username">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-danger border-danger"><i class="ti-lock"></i></span>
                          </div>
                          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12" style="width: 300px;">
                          <label class="col-sm-12 control-label">
                              <span *ngIf="baseModel.errorCode !== '00'">{{baseModel.message}}</span></label>
                      </div>
                      <div class="col-12 text-center">
                          <button (click)='login()' class="btn btn-danger btn-block margin-top-10">Login</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> -->