<div>
  <div class="col-12 row">
    <div class="col-3">Oct</div>
    <div class="col-3">23days</div>
    <div class="col-3">200h</div>
    <div class="col-3">22days</div>
  </div>
  <table class="table table-sm">
    <tr>
      <td class="titledate">Sun</td>
      <td class="titledate">Mon</td>
      <td class="titledate">Tue</td>
      <td class="titledate">Web</td>
      <td class="titledate">Thu</td>
      <td class="titledate">Fri</td>
      <td class="titledate">Sat</td>
    </tr>
    <tr>
      <td style="background-color: gray; color: red;">
        <div class="sundate">1</div>
        <div class="moondate float-right">2</div>
      </td>
      <td>
        <div>1</div>
        <div>2</div>
      </td><td>
        <div>1</div>
        <div>2</div>
      </td><td>
        <div>1</div>
        <div>2</div>
      </td><td>
        <div>1</div>
        <div>2</div>
      </td><td>
        <div>1</div>
        <div>2</div>
      </td><td>
        <div>1</div>
        <div>2</div>
      </td>
    </tr>
  </table>
</div>