<div class="modal-header">
  <h4 class="modal-title pull-left">{{eoNo}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding: 10px;">
  <div class="row">
    <div class="col-6" style="padding-right: 0px;">
      <div class="box box-outline-secondary" style="margin-bottom: 0px;">
        <div class="box-header with-border">
          <h5 class="box-title"><span class="box-title text-info" style="width: 20px; text-align: center;"><i class="fa fa-file-invoice"></i></span>  Invoice</h5>
          <div class="box-controls pull-right">
            <a href="#" (click)="onPrint(eoNo)" routerLinkActive="router-link-active"  title="Print" style="margin-top: -6px;"><i class="fa fa-print"></i></a>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-sm">
            <tr>
              <td><span class="col-form-label">Export Date</span></td>
              <td><span class="col-form-content">{{dataItem.ExportDate | date: 'dd/MM/yyyy'}}</span></td>
              <td><span class="col-form-label">Invoice Date</span></td>
              <td><span class="col-form-content">{{dataItem.InvoiceDate | date: 'dd/MM/yyyy'}}</span></td>
            </tr>
            <tr>
              <td><span class="col-form-label">Invoice Type</span></td>
              <td><span class="col-form-content">{{dataItem.InvoiceTypeName}}</span></td>
              <td><span class="col-form-label">Bill</span></td>
              <td><span class="col-form-content">{{dataItem.BillNo}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6" style="padding-left: 5px;">
      <div class="box box-outline-secondary" style="margin-bottom: 0px;">
        <div class="box-header with-border">
          <h5 class="box-title"><span class="box-title text-info" style="width: 20px; text-align: center;"><i class="fa fa-box"></i></span> Cargo</h5>
        </div>
        <div class="box-body">
          <table class="table table-sm">
            <tr>
              <td><span class="col-form-label">Export To</span></td>
              <td colspan="3"><span class="col-form-content">{{dataItem.SupplierName}}</span></td>
            </tr>
            <tr>
              <td><span class="col-form-label">Weight</span></td>
              <td><span class="col-form-content">{{dataItem.TotalWeight}} (kg)</span></td>
              <td><span class="col-form-label">Incoterm</span></td>
              <td><span class="col-form-content">{{dataItem.IncotermID}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-6" style="padding-right: 0px;">
      <div class="box box-outline-secondary" style="margin-bottom: 0px;">
        <div class="box-header with-border">
          <h5 class="box-title"><span class="box-title text-info" style="width: 20px; text-align: center;"><i class="fa fa-truck"></i></span> Transportation agent</h5>
        </div>
        <div class="box-body">
          <table class="table table-sm">
            <tr>
              <td><span class="col-form-label">Forwader</span></td>
              <td><span class="col-form-content">{{dataItem.ForwaderName}}</span></td>
              <td><span class="col-form-label">Carier</span></td>
              <td><span class="col-form-content">{{dataItem.CarierName}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6" style="padding-left: 5px;">
      <div class="box box-outline-secondary" style="margin-bottom: 0px;">
        <div class="box-header with-border">
          <h5 class="box-title"><span class="box-title text-info" style="width: 20px; text-align: center;"><i class="fa fa-hand-holding-usd"></i></span> Fee</h5>
        </div>
        <div class="box-body">
          <table class="table table-sm">
            <tr>
              <td><span class="col-form-label">Export Fee</span></td>
              <td><span class="col-form-content">{{formatMoney(dataItem.ExportFee, 'VND')}}</span></td>
              <td><span class="col-form-label">CDS Fee</span></td>
              <td><span class="col-form-content">{{formatMoney(dataItem.CDSFee, 'VND')}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="box box-outline-secondary" style="margin-bottom: 0px; margin-top: 5px;">
      <div class="box-header with-border">
        <h5 class="box-title"><span class="box-title text-info" style="width: 20px; text-align: center;"><i class="fa fa-boxes"></i></span>  Product</h5>
      </div>
      <div class="box-body">
        <div class="col-12" style="overflow-y: auto; padding-right: 10px; padding-left: 0px" [style.height.px]="innerHeight">
          <table class="table table-sm">
            <thead>
              <td class="headerTable" style="text-align: center;">No.</td>
              <td class="headerTable" style="text-align: left;">Product</td>
              <td class="headerTable" style="text-align: left;">Description</td>
              <td class="headerTable" style="text-align: center;">Q'ty</td>
              <td class="headerTable" style="text-align: center;">Unit</td>
              <td class="headerTable" style="text-align: right;">Unit Price</td>
              <td class="headerTable" style="text-align: right;">Subtotal</td>
            </thead>
            <ng-container *ngFor="let item of erItemList.DataList">
              <tbody>
                <td class="bodyTable" style="text-align: center; width: 40px">
                  <div>{{item.RowIndex}}</div>
                </td>
                <td class="bodyTable" style="text-align: left;">
                  <div>{{item.ProductName}}</div>
                </td>
                <td class="bodyTable" style="text-align: left;">
                  <div>{{item.ProductDes}}</div>
                </td>
                <td class="bodyTable" style="text-align: center;">
                  <div>{{item.Quantity}}</div>
                </td>
                <td class="bodyTable" style="text-align: center;">
                  <div>{{item.UnitName}}</div>
                </td>
                <td class="bodyTable" style="text-align: right;">
                  <div>{{formatMoney(item.Price, item.Currency)}}</div>
                </td>
                <td class="bodyTable" style="text-align: right;">
                  <div>{{item.SubTotal}}</div>
                </td>
              </tbody>
            </ng-container>
          </table>
        </div>
      </div>
      <div class="box-footer" style="padding:0px 5px 0px;">
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6" style="padding-left: 0px;">
            <span class="float-right" style="margin-left: 10px; margin-right: 20px; font-size: 14px; font-weight: bold; color: black;"> {{Total_String}}</span>
            <span class="float-right" style="font-size: 14px;">Total: </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">CLOSE</button>
  <ng-container *ngIf="erCheck">
    <ng-container *ngIf="isReturn">
      <button type="button" class="btn btn-success float-right" (click)="onReturn()">RETURN</button>
    </ng-container>
    <ng-container *ngIf="isConfirm">
      <button type="button" class="btn btn-success float-right" (click)="onConfirm()">CONFIRMED</button>
    </ng-container>
  </ng-container>
</div>