/* .main-header {
    background: #318f94;
    background-image: linear-gradient(to right, rgb(49, 143, 148) 0px, rgb(94, 197, 140) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: -moz-linear-gradient(left,#318f94 0,#5ec58c 100%);
    background-image: linear-gradient(to right, rgb(49, 143, 148) 0px, rgb(94, 197, 140) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: -webkit-linear-gradient(left,#318f94 0,#5ec58c 100%);
    background-image: linear-gradient(to right, rgb(49, 143, 148) 0px, rgb(94, 197, 140) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: linear-gradient(to right,#318f94 0,#5ec58c 100%);
    background-image: linear-gradient(to right, rgb(49, 143, 148) 0px, rgb(94, 197, 140) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
} */