.table-sm th, .table-sm td {
    padding-top: 0.2rem;
    padding-right: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 0.1rem;
}

label {
    margin-bottom: 0px;
}
[type=checkbox]+label {
    padding-left: 25px;
}