<section class="content-header">
  <div class="row col-12">
    <div>
      <span style="font-size: 20px;">ER</span>
    </div>
    <div style="width: 80px; margin-left: 10px;">
      <ngx-select [items]="dataForm.PICGroupList"
                  [(ngModel)]="searchData.PICGroup"
                  (selectionChanges)="onChangePICGroup($event)"
                  [allowClear]=false>
      </ngx-select>
    </div>
    <div style="width: 150px; margin-left: 5px;">
      <ngx-select [items]="dataForm.SupplierList" [(ngModel)]="searchData.SupplierID" (selectionChanges)="onChangeSupplier($event)" placeholder="Send To">
      </ngx-select>
    </div>
    <div style="width: 100px; margin-left: 5px;">
      <input class="form-control" type="text" [(ngModel)]="searchData.ERNo" placeholder="ERNo" (keyup)="triggerEnter($event)">
    </div>
    <div style="width: 120px; margin-left: 5px;">
      <input type="text" placeholder="Send From Date" class="form-control" bsDatepicker [(ngModel)]="SendFromDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
    </div>
    <div style="width: 120px; margin-left: 5px;">
      <input type="text" placeholder="Send To Date" class="form-control" bsDatepicker [(ngModel)]="SendToDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
    </div>
    <button class="btn btn-primary btn-sm" (click)="loadData()" style="margin-left: 5px;"><i class="fa fa-search"></i></button>
  </div>
</section>
<section class="content" style="margin-top: -5px;">
  <div class="row">
    <div class="col-12">
<!----------------------------------------------------------------------------------------------------->
      <div class="row">
        <div class="col-6">
          <div class="col-12 row" style="vertical-align: middle;">
            <div style="margin-right: 5px; margin-top: 8px;"><span >Show</span></div>
            <select (change)="onChangeRowPerPage($event)" style="width: 100px;" [(ngModel)]="searchData.ItemsPerPage">
              <option *ngFor="let i of rowPerPage" value="{{i}}">{{i}}</option>
            </select>
            <div style="margin-left: 5px; margin-top: 8px;"><span >entries/page</span></div>
          </div>
        </div>
        <div class="col-6" style="text-align: right;">
          <button class="btn btn-sm btn-success" (click)="openPopupEdit(editTemplate, 'New', null)" style="margin-left: 5px;"><i class="fa fa-plus"></i> CREATE NEW</button>
          <!-- <a class="btn btn-sm" title="Grid" [routerLink]="['/order/pr-detail-list']"><i class="fa fa-th" style="color: gray; font-size: 16px;"></i></a>
          <a class="btn btn-sm" title="Table" style="cursor: default;"><i class="fa fa-th-list" style="color: 666EE8; font-size: 16px;"></i></a> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <ngx-datatable class="material fullscreen custom" 
              [externalSorting]="true" 
              (sort)="onSort($event)"
              [columnMode]="'force'" 
              
              [footerHeight]="25"
              [rowHeight]="'auto'" 
              [rows]="pagingModel.DataList" 
              [count]="pagingModel.TotalItems" 
              [offset]="pagingModel.CurrentPage-1"
              [limit]="pagingModel.ItemsPerPage" 
              [externalPaging]="true" 
              (page)='setPage($event)' 
              [scrollbarH]="true" 
              [scrollbarV]="true" 
              [virtualization]="false" 
              [style.height.px]="innerHeight"
              [loadingIndicator]="loadingIndicator">
              <ngx-datatable-column [canAutoResize]="false" [width]="40" name="No." prop="RowIndex" cellClass="text-center" [sortable]="false"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="70" name="Status" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span class="badge" [style.background] = "row['StatusColor']" >{{row['StatusName']}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="100" name="ERNo" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    (click)="openPopupDetail(detailTemplate, row['ERNo'])">
                    {{row['ERNo']}}
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="100" name="Send To" prop="SupplierName" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="100" name="Send Date" prop="SendDate" cellClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd/MM/yyyy'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="100" name="Tranfer" prop="TranferName" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [width]="100" name="Tranfer Section" prop="TranferSectionName" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="50" name="Item" prop="TotalItem" cellClass="text-center"></ngx-datatable-column>
              <!-- <ngx-datatable-column [canAutoResize]="false" [width]="110" name="Total" prop="TotalPrice" cellClass="text-right">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{formatMoney(row['TotalPrice'], row['Currency'])}}
                </ng-template>
              </ngx-datatable-column> -->
              <ngx-datatable-column [width]="110" name="Remark" prop="Remark" cellClass="text-left"></ngx-datatable-column>
              <ngx-datatable-column [canAutoResize]="false" [width]="100" cellClass="text-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a href='javascript:void(0)' 
                    class='btn-edit btn btn-outline btn-sm btn-info btn-icon' 
                    title='Clone'
                    style='width:30px;' 
                    (click)="openPopupEdit(editTemplate, 'Clone', row['ERNo'])">
                    <i class='fa fa-copy'></i>
                  </a>
                  <a href='javascript:void(0)' 
                    class='btn-edit btn btn-outline btn-sm btn-warning btn-icon' 
                    title='Detail'
                    style='width:30px; margin-left: 3px;' 
                    (click)="openPopupDetail(detailTemplate, row['ERNo'])">
                    <i class='fa fa-info'></i>
                  </a>
                  <a href='javascript:void(0)' 
                    class='btn-edit btn btn-outline btn-sm btn-primary btn-icon' 
                    title='Edit'
                    style='width:30px; margin-left: 3px;' 
                    (click)="openPopupEdit(editTemplate, 'Update', row['ERNo'], row['Status'])">
                    <i class='fa fa-edit'></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <ng-template #editTemplate>
        <app-er-master-edit [bsModalRef]="bsModalRefEdit" [updateBy]="userInfo.code" [type]="type" [id]="id" [picGroup]="searchData.PICGroup" (acceptBtnModalClick)="onAcceptBtnModalClick($event)"></app-er-master-edit>
      </ng-template>
      <ng-template #detailTemplate>
        <app-er-master-detail [bsModalRef]="bsModalRefDetail" [updateBy]="userInfo.code" [id]="id" (acceptBtnModalClick)="onAcceptBtnModalClick($event)"></app-er-master-detail>
      </ng-template>
<!----------------------------------------------------------------------------------------------------->
    </div>
  </div>
</section>