<div class="form-horizontal row" style="margin-top:150px">
  <div class="col-2"></div>
  <div class="col-8">
    <div>
      <span style="font-size: 30px; color: #FF9149; font-weight: bold;">
        Page not found!
      </span>
    </div>
    <div>
      <span style="font-size: 18px;">
        The page you are looking for was moved, removed, renamed or might never existed
      </span>
    </div>
    <div>
      <a href="#" [routerLink]="['/']">
        <span style="font-size: 14px;">Return to home page</span>
      </a>
    </div>
  </div>
  <div class="col-2"></div>
</div>
